@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.pexels.com/photos/680959/pexels-photo-680959.jpeg);
}

.nav-bar {
    background-color: rgba(195, 157, 174, 1);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}



.nav-bar .logo {
    font-size: 60px;
    color: #307610;
    grid-column: 2/3;
}

.nav-bar .menu {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
    
}

.nav-bar .menu li {
    list-style: none;
}

.nav-bar .menu a {
    text-decoration: none;
    color: #307610;
}

.nav-bar .menu a:hover {
    color: #5a9f63;
}

.nav-bar .menubar {
    display: none;
    color: #307610;

}


/* SECTION MAIN*/



.hero {
    height: 80vh;
    background-image: url(../\imagenes/pexels-photo-680959.jpeg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: repeat(8, 1fr); */
}

.hero .infocontent {
    grid-column: 2/9;
    grid-row: 2/3;
    background-color: rgba(48, 118, 16, 0.4);
    padding: 1em;

}

.hero .infocontent2 {
    grid-column: 2/9;
    grid-row: 4/5;
    background-color: rgba(48, 118, 16, 0.4);
    padding: 1em;

}

.hero .infocontent3 {
    grid-column: 2/9;
    grid-row: 6/7;
    background-color: rgba(48, 118, 16, 0.4);
    padding: 1em;

}

.hero .infocontent4 {
    grid-column: 2/9;
    grid-row: 7/8;
    background-color: rgba(48, 118, 16, 0.4);
    padding: 1em;

}



.hero h2 {
    font-size: 5em;
    color: #c42c91
}

.hero p {
    font-weight: 300;
    font-family: 'Montserrat';
}

.warnings {
    width: 200px;
    text-align: center;
    margin:auto;
    font-size: 5em;
    color: #c42c91;
    padding-top: 20px;
}




