@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.pexels.com/photos/680959/pexels-photo-680959.jpeg);
}

.nav-bar {
    background-color: rgba(195, 157, 174, 1);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.nav-bar .logo {
    font-size: 60px;
    color: #307610;
    grid-column: 2/3;
}

.nav-bar .menu {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
    
}

.nav-bar .menu li {
    list-style: none;
}

.nav-bar .menu a {
    text-decoration: none;
    color: #307610;
}

.nav-bar .menu-bar {
    display: none;
    color: #307610;

}
